<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://esotemp.vse.cz/~kouj13/public_style/style.css?ts=<?=time()?>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Social Poster</title>
</head>
<body style="background: darkgrey">
<h1>Social poster</h1>
<h2>Thank you for posting!</h2>
<div class="links">
    <p id="twitterLink">Twitter link: <a href="<%= twitterLink %>" target="_blank"><%= twitterLink %></a></p>
    <p id="redditLink">Reddit link: <a href="<%= redditLink %>" target="_blank"><%= redditLink %></a></p>
    <p id="imgurLink">Imgur link: <a href="<%= imgurLink %>" target="_blank"><%= imgurLink %></a></p>
</div>
<a class="buttonUpload" id="buttonBack" href="">Back</a>
</body>
</html>